@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foodzies</title>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <header>Header</header>
    @RenderBody()
    <footer>Footer</footer>
    <script src='@Scripts.Url("~/bundles/js")' async> </script>
</body>
</html>
