@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<article>
    The Article
</article>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
    </div>
</div>

<span class="fa fa-camera-retro">Hej på dig</span>